@import "tailwindcss";

.hero-layout {
  @apply relative z-10 xl:mt-20 mt-32 md:h-dvh h-[80vh] flex xl:items-center items-start justify-center;
}

.hero-text {
  @apply flex flex-col justify-center md:text-[60px] text-[30px] font-semibold relative z-10 pointer-events-none;

  .slide {
    @apply absolute pt-0 px-2 md:px-5 py-[30px] h-[48px] md:h-[78px] md:translate-y-1 translate-y-0 overflow-hidden;
  }
}

.slide {
  display: inline-block;
  flex-direction: column;
  margin-left: 10px;
  transition: all cubic-bezier(0.71, 0.03, 0.34, 1);
}

.wrapper {
  display: flex;
  flex-direction: column;
  animation: wordSlider 21s infinite cubic-bezier(0.9, 0.01, 0.3, 0.99);
}

@keyframes wordSlider {
  0% {
    transform: translateY(0.5%);
  }
  12.5% {
    transform: translateY(-12.5%);
  }
  25% {
    transform: translateY(-25%);
  }
  37.5% {
    transform: translateY(-37.5%);
  }
  50% {
    transform: translateY(-50%);
  }
  62.5% {
    transform: translateY(-62.5%);
  }
  75% {
    transform: translateY(-75%);
  }
  87.5% {
    transform: translateY(-87.5%);
  }
}

.hero-3d-layout {
  @apply xl:w-[70%] w-full h-full min-h-[50vh] absolute xl:-top-20 top-24 xl:-right-20 right-0;
}

.app-showcase {
  @apply w-full mt-20 px-5 md:px-20 py-10 md:py-20 flex items-center justify-center;

  .showcaselayout {
    @apply flex xl:flex-row flex-col gap-10 justify-between;
  }

  .first-project-wrapper {
    @apply h-full flex flex-col justify-between xl:w-[60%];

    .image-wrapper {
      @apply xl:h-[70vh] md:h-[50vh] h-96 relative;

      img {
        @apply w-full h-full object-cover rounded-xl absolute inset-0;
      }
    }

    .text-content {
      @apply space-y-5 mt-5;

      .badges {
        @apply flex gap-2 mb-4;
      }

      h2 {
        @apply text-2xl md:text-3xl lg:text-4xl font-bold;
      }
    }
  }

  .project-list-wrapper {
    @apply flex md:flex-row flex-col xl:flex-col gap-10 xl:w-[40%];

    .image-wrapper {
      @apply xl:h-[37vh] md:h-52 lg:h-72 h-64 relative rounded-xl xl:px-5 2xl:px-12 py-0;
    }

    img {
      @apply w-full h-full object-contain rounded-xl;
    }

    h2 {
      @apply text-lg md:text-xl lg:text-2xl font-semibold mt-5;
    }
  }
}
